<!DOCTYPE html>
<html>
<head>

    <title>History</title>

    {% load static %}

    <link rel="stylesheet"
          href="{% static 'style.css' %}">

</head>

<body>

<div class="container">

    <div class="topbar">

        <h1>📜 Recipe History</h1>

        <a href="/">
            Home
        </a>

    </div>

    {% for recipe in recipes %}

    <div class="history-card">

        <h3>
            Ingredients
        </h3>

        <p>
            {{ recipe.ingredients }}
        </p>

        <h3>
            Generated Recipe
        </h3>

        <pre>
{{ recipe.recipe }}
        </pre>

        <small>
            {{ recipe.created_at }}
        </small>

    </div>

    {% empty %}

    <p>
        No recipes generated yet.
    </p>

    {% endfor %}

</div>

</body>
</html>